USE [master]
GO
/****** Object:  Database [GESTIONPRACTICANTES]    Script Date: 9/01/2026 11:12:30 ******/
CREATE DATABASE [GESTIONPRACTICANTES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTIONPRACTICANTES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GESTIONPRACTICANTES.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GESTIONPRACTICANTES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GESTIONPRACTICANTES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTIONPRACTICANTES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTIONPRACTICANTES]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCurrentUser]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función para obtener el usuario actual desde el contexto
CREATE   FUNCTION [dbo].[fn_GetCurrentUser]()
RETURNS INT
AS
BEGIN
    DECLARE @UsuarioID INT;
    DECLARE @BinVar VARBINARY(128);
    
    -- Obtener el CONTEXT_INFO
    SET @BinVar = CONTEXT_INFO();
    
    -- Convertir de vuelta a INT si existe
    IF @BinVar IS NOT NULL AND LEN(@BinVar) > 0
        SET @UsuarioID = CAST(@BinVar AS INT);
    ELSE
        SET @UsuarioID = 0;
    
    RETURN @UsuarioID;
END;
GO
/****** Object:  Table [dbo].[ActividadReciente]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadReciente](
	[ActividadID] [int] IDENTITY(1,1) NOT NULL,
	[TipoActividad] [varchar](50) NOT NULL,
	[TablaAfectada] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[UsuarioAfectado] [varchar](100) NULL,
	[RegistroID] [int] NULL,
	[FechaHora] [datetime] NULL,
	[Icono] [varchar](20) NULL,
	[UsuarioCreadorID] [int] NULL,
	[NombreUsuarioCreador] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActividadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreArea] [varchar](100) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[AsistenciaID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraEntrada] [time](0) NULL,
	[HoraSalida] [time](0) NULL,
	[PracticanteID] [int] NULL,
	[TurnoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AsistenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[CargoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCargo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificadosGenerados]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadosGenerados](
	[CertificadoID] [int] IDENTITY(1,1) NOT NULL,
	[PracticanteID] [int] NOT NULL,
	[NombreArchivo] [nvarchar](255) NOT NULL,
	[NumeroExpediente] [varchar](50) NOT NULL,
	[FechaGeneracion] [datetime] NULL,
	[UsuarioID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentoSolicitud]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentoSolicitud](
	[DocumentoID] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudID] [int] NOT NULL,
	[TipoDocumento] [nvarchar](50) NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
	[FechaSubida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoID] [int] IDENTITY(1,1) NOT NULL,
	[Abreviatura] [varchar](10) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[EntidadAplicable] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[MensajeID] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudID] [int] NOT NULL,
	[RemitenteAreaID] [int] NOT NULL,
	[DestinatarioAreaID] [int] NOT NULL,
	[Contenido] [nvarchar](500) NULL,
	[FechaEnvio] [datetime] NULL,
	[Leido] [bit] NULL,
	[TipoMensaje] [varchar](50) NULL,
	[RespuestaEstado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MensajeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pausa]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pausa](
	[PausaID] [int] IDENTITY(1,1) NOT NULL,
	[AsistenciaID] [int] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NULL,
	[Motivo] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PausaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Practicante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Practicante](
	[PracticanteID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [char](8) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[Carrera] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](100) NULL,
	[Universidad] [varchar](100) NULL,
	[FechaEntrada] [date] NULL,
	[FechaSalida] [date] NULL,
	[FechaRegistro] [datetime] NULL,
	[EstadoID] [int] NULL,
	[Genero] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[PracticanteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticanteTurno]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticanteTurno](
	[PracticanteTurnoID] [int] IDENTITY(1,1) NOT NULL,
	[PracticanteID] [int] NOT NULL,
	[TurnoID] [int] NOT NULL,
	[DiasAplicables] [varchar](100) NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PracticanteTurnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudPracticas]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudPracticas](
	[SolicitudID] [int] IDENTITY(1,1) NOT NULL,
	[FechaSolicitud] [date] NULL,
	[EstadoID] [int] NULL,
	[PracticanteID] [int] NULL,
	[AreaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SolicitudID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[TurnoID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TurnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Nombres] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[Password] [varchar](100) NULL,
	[DNI] [char](8) NOT NULL,
	[CUI] [char](1) NULL,
	[CargoID] [int] NULL,
	[AreaID] [int] NULL,
	[EstadoID] [int] NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([AreaID], [NombreArea], [Descripcion]) VALUES (1, N'Gerencia de Recursos Humanos', N'Área encargada del personal')
INSERT [dbo].[Area] ([AreaID], [NombreArea], [Descripcion]) VALUES (2, N'Subgerencia de Informatica y Sistemas', N'Área de soporte y desarrollo de software')
INSERT [dbo].[Area] ([AreaID], [NombreArea], [Descripcion]) VALUES (3, N'Subgerencia de Contabilidad', N'Área de gestión contable y financiera')
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([CargoID], [NombreCargo], [Descripcion]) VALUES (1, N'Gerente RRHH', N'Acceso total al sistema.')
INSERT [dbo].[Cargo] ([CargoID], [NombreCargo], [Descripcion]) VALUES (2, N'Gerente de Área', N'Supervisa su área, acepta practicantes.')
INSERT [dbo].[Cargo] ([CargoID], [NombreCargo], [Descripcion]) VALUES (3, N'Usuario de Área', N'Solo registra asistencia y visualiza practicantes.')
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([EstadoID], [Abreviatura], [Descripcion], [EntidadAplicable]) VALUES (1, N'ACT', N'Activo', N'Usuario')
INSERT [dbo].[Estado] ([EstadoID], [Abreviatura], [Descripcion], [EntidadAplicable]) VALUES (2, N'INA', N'Inactivo', N'Usuario')
INSERT [dbo].[Estado] ([EstadoID], [Abreviatura], [Descripcion], [EntidadAplicable]) VALUES (3, N'REV', N'En Revision', N'SolicitudPracticas')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([TurnoID], [Descripcion], [HoraInicio], [HoraFin]) VALUES (1, N'Mañana', CAST(N'08:00:00' AS Time), CAST(N'13:00:00' AS Time))
INSERT [dbo].[Turno] ([TurnoID], [Descripcion], [HoraInicio], [HoraFin]) VALUES (2, N'Tarde', CAST(N'14:00:00' AS Time), CAST(N'16:30:00' AS Time))
INSERT [dbo].[Turno] ([TurnoID], [Descripcion], [HoraInicio], [HoraFin]) VALUES (3, N'Completo', CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [NombreUsuario], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Password], [DNI], [CUI], [CargoID], [AreaID], [EstadoID], [Activo], [FechaRegistro]) VALUES (1, N'username1', N'name', N'lastname', N'lastname2', N'$argon2id$v=19$m=65536,t=4,p=1$UlBvT2E1NTFqYkZycUZLTg$NmUvERKhGb1V1JPQCVGrGXNdZTEc/wh0Bt2uMpdEo1U', N'14340678', N'1', 3, 2, 1, 1, CAST(N'2025-11-21T22:39:20.483' AS DateTime))
INSERT [dbo].[Usuario] ([UsuarioID], [NombreUsuario], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Password], [DNI], [CUI], [CargoID], [AreaID], [EstadoID], [Activo], [FechaRegistro]) VALUES (2, N'admin2', N'name', N'lastname', N'lastname2', N'$argon2id$v=19$m=65536,t=4,p=1$a1VuQ3BCa3VOcTFvNWZuaw$zt2nzX8aw51i5xHsy0u0oImrnRItKLnkfo/6Z/3y4EA', N'11347678', N'2', 1, 1, 1, 1, CAST(N'2025-11-21T22:39:20.483' AS DateTime))
INSERT [dbo].[Usuario] ([UsuarioID], [NombreUsuario], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Password], [DNI], [CUI], [CargoID], [AreaID], [EstadoID], [Activo], [FechaRegistro]) VALUES (3, N'username3', N'name', N'lastname', N'lastname2', N'$argon2id$v=19$m=65536,t=4,p=1$b0cyYXlGUmphTlpCNGozeg$TPhdhj8LEe9WobrNHdalFQwr5sgEUc1fEIrtCyfUhXY', N'12747675', N'3', 2, 3, 1, 1, CAST(N'2025-11-21T22:39:20.483' AS DateTime))
GO
/****** Object:  Index [UQ__Practica__7DEA7B1B65E6B1CA]    Script Date: 9/01/2026 11:12:31 ******/
ALTER TABLE [dbo].[PracticanteTurno] ADD UNIQUE NONCLUSTERED 
(
	[PracticanteID] ASC,
	[TurnoID] ASC,
	[Activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActividadReciente] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[CertificadosGenerados] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[DocumentoSolicitud] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[Practicante] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PracticanteTurno] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[PracticanteTurno] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ActividadReciente]  WITH CHECK ADD  CONSTRAINT [FK_ActividadReciente_Usuario] FOREIGN KEY([UsuarioCreadorID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[ActividadReciente] CHECK CONSTRAINT [FK_ActividadReciente_Usuario]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([PracticanteID])
REFERENCES [dbo].[Practicante] ([PracticanteID])
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([TurnoID])
REFERENCES [dbo].[Turno] ([TurnoID])
GO
ALTER TABLE [dbo].[CertificadosGenerados]  WITH CHECK ADD FOREIGN KEY([PracticanteID])
REFERENCES [dbo].[Practicante] ([PracticanteID])
GO
ALTER TABLE [dbo].[DocumentoSolicitud]  WITH CHECK ADD FOREIGN KEY([SolicitudID])
REFERENCES [dbo].[SolicitudPracticas] ([SolicitudID])
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD FOREIGN KEY([DestinatarioAreaID])
REFERENCES [dbo].[Area] ([AreaID])
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD FOREIGN KEY([RemitenteAreaID])
REFERENCES [dbo].[Area] ([AreaID])
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD FOREIGN KEY([SolicitudID])
REFERENCES [dbo].[SolicitudPracticas] ([SolicitudID])
GO
ALTER TABLE [dbo].[Pausa]  WITH CHECK ADD FOREIGN KEY([AsistenciaID])
REFERENCES [dbo].[Asistencia] ([AsistenciaID])
GO
ALTER TABLE [dbo].[Practicante]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[PracticanteTurno]  WITH CHECK ADD FOREIGN KEY([PracticanteID])
REFERENCES [dbo].[Practicante] ([PracticanteID])
GO
ALTER TABLE [dbo].[PracticanteTurno]  WITH CHECK ADD FOREIGN KEY([TurnoID])
REFERENCES [dbo].[Turno] ([TurnoID])
GO
ALTER TABLE [dbo].[SolicitudPracticas]  WITH CHECK ADD FOREIGN KEY([AreaID])
REFERENCES [dbo].[Area] ([AreaID])
GO
ALTER TABLE [dbo].[SolicitudPracticas]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[SolicitudPracticas]  WITH CHECK ADD FOREIGN KEY([PracticanteID])
REFERENCES [dbo].[Practicante] ([PracticanteID])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([AreaID])
REFERENCES [dbo].[Area] ([AreaID])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([CargoID])
REFERENCES [dbo].[Cargo] ([CargoID])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
/****** Object:  StoredProcedure [dbo].[sp_AceptarPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AceptarPracticante]
    @PracticanteID INT,
    @SolicitudID INT,
    @AreaID INT,
    @FechaEntrada DATE,
    @FechaSalida DATE,
    @MensajeRespuesta NVARCHAR(500)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        SET NOCOUNT ON;
        -- Actualizar practicante con fechas
        UPDATE Practicante 
        SET EstadoID = (SELECT EstadoID FROM Estado WHERE Abreviatura = 'VIG'),
            FechaEntrada = @FechaEntrada,
            FechaSalida = @FechaSalida
        WHERE PracticanteID = @PracticanteID;
        
        -- Actualizar solicitud
        UPDATE SolicitudPracticas
        SET EstadoID = (SELECT EstadoID FROM Estado WHERE Abreviatura = 'APR'),
            AreaID = @AreaID
        WHERE SolicitudID = @SolicitudID;
        
        COMMIT TRANSACTION;
        SELECT 1 AS Resultado;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarDocumento]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarDocumento]
    @SolicitudID INT,
    @TipoDocumento NVARCHAR(50),
    @Archivo VARBINARY(MAX) = NULL,
    @Observaciones NVARCHAR(MAX) = NULL,
    @FechaSubida DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE DocumentoSolicitud
    SET 
        Archivo = CASE 
                    WHEN @Archivo IS NOT NULL THEN CONVERT(VARBINARY(MAX), @Archivo)
                    ELSE Archivo
                  END,
        Observaciones = COALESCE(@Observaciones, Observaciones),
        FechaSubida = CASE 
                        WHEN @Archivo IS NOT NULL THEN COALESCE(@FechaSubida, GETDATE())
                        ELSE FechaSubida
                      END
    WHERE SolicitudID = @SolicitudID
      AND TipoDocumento = @TipoDocumento;

    SELECT @@ROWCOUNT AS FilasAfectadas;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarPracticante]
    @PracticanteID INT,
    @DNI CHAR(8),
    @Nombres VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Genero CHAR(1),
    @Carrera VARCHAR(100),
    @Email VARCHAR(100),
    @Telefono VARCHAR(20),
    @Direccion VARCHAR(100),
    @Universidad VARCHAR(100),
    @EstadoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Practicante    
        SET DNI = @DNI,
            Nombres = @Nombres,
            ApellidoPaterno = @ApellidoPaterno,
            ApellidoMaterno = @ApellidoMaterno,
            Genero = @Genero,
            Carrera = @Carrera,
            Email = @Email,
            Telefono = @Telefono,
            Direccion = @Direccion,
            Universidad = @Universidad,
            EstadoID = ISNULL(@EstadoID, EstadoID)
        WHERE PracticanteID = @PracticanteID;

        SELECT 'Practicante actualizado correctamente' AS Mensaje;
    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error al actualizar practicante: %s', 16, 1, @Err);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarTurnosPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarTurnosPracticante]
    @PracticanteID INT,
    @TurnosJSON NVARCHAR(MAX)
AS
BEGIN
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Desactivar turnos actuales
        UPDATE PracticanteTurno 
        SET Activo = 0, FechaFin = GETDATE()
        WHERE PracticanteID = @PracticanteID AND Activo = 1;
        
        -- Insertar nuevos turnos
        INSERT INTO PracticanteTurno (PracticanteID, TurnoID, DiasAplicables)
        SELECT 
            @PracticanteID,
            JSON_VALUE(value, '$.turnoID'),
            JSON_VALUE(value, '$.dias')
        FROM OPENJSON(@TurnosJSON);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @UsuarioID INT,
    @NombreUsuario VARCHAR(100) = NULL,
    @Nombres VARCHAR(150) = NULL,
    @ApellidoPaterno VARCHAR(100) = NULL,
    @ApellidoMaterno VARCHAR(100) = NULL,
    @Password VARCHAR(100) = NULL,
    @DNI VARCHAR(20) = NULL,
    @CUI VARCHAR(20) = NULL,
    @CargoID INT = NULL,
    @AreaID INT = NULL,
    @Activo BIT = NULL
AS
BEGIN
    UPDATE Usuario
    SET 
        NombreUsuario = ISNULL(@NombreUsuario, NombreUsuario),
        Nombres = ISNULL(@Nombres, Nombres),
        ApellidoPaterno = ISNULL(@ApellidoPaterno, ApellidoPaterno),
        ApellidoMaterno = ISNULL(@ApellidoMaterno, ApellidoMaterno),
        Password = ISNULL(@Password, Password),
        DNI = ISNULL(@DNI, DNI),
        CUI = ISNULL(@CUI, CUI),
        CargoID = ISNULL(@CargoID, CargoID),
        AreaID = ISNULL(@AreaID, AreaID),
        Activo = ISNULL(@Activo, Activo)
    WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarPassword]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarPassword]
    @UsuarioID INT,
    @Password VARCHAR(100)
AS
BEGIN
    UPDATE Usuario
    SET Password = CONVERT(VARCHAR(100), HASHBYTES('SHA2_256', @Password), 2)
    WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
    @PracticanteID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NuevaSolicitudID INT;

    INSERT INTO SolicitudPracticas (FechaSolicitud, EstadoID, PracticanteID, AreaID)
    VALUES (GETDATE(), null, @PracticanteID, NULL);

    SET @NuevaSolicitudID = SCOPE_IDENTITY();

    SELECT @NuevaSolicitudID AS SolicitudID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarPracticante]
    @PracticanteID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoActual NVARCHAR(50);

    -- Obtener el estado actual del practicante
    SELECT @EstadoActual = e.Descripcion
    FROM Practicante p
    INNER JOIN Estado e ON p.EstadoID = e.EstadoID
    WHERE p.PracticanteID = @PracticanteID;

    -- Validar existencia
    IF @EstadoActual IS NULL
    BEGIN
        RAISERROR('El practicante no existe.', 16, 1);
        RETURN;
    END;

    -- Validar estado permitido
    IF @EstadoActual NOT IN ('Pendiente', 'Rechazado', 'Finalizado')
    BEGIN
        RAISERROR('Solo se puede eliminar practicantes en estado "Pendiente", "Rechazado" o "Finalizado".', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRANSACTION;

            DECLARE @SolicitudIDs TABLE (SolicitudID INT);
            DECLARE @AsistenciaIDs TABLE (AsistenciaID INT);

            -- Guardar todas las solicitudes del practicante
            INSERT INTO @SolicitudIDs (SolicitudID)
            SELECT SolicitudID
            FROM SolicitudPracticas
            WHERE PracticanteID = @PracticanteID;

            -- Guardar todas las asistencias del practicante
            INSERT INTO @AsistenciaIDs (AsistenciaID)
            SELECT AsistenciaID
            FROM Asistencia
            WHERE PracticanteID = @PracticanteID;

            -- 🔹 Eliminar pausas ligadas a esas asistencias
            DELETE pz
            FROM Pausa pz
            INNER JOIN @AsistenciaIDs a ON pz.AsistenciaID = a.AsistenciaID;

            -- Eliminar turnos ligados al practicante
            DELETE FROM PracticanteTurno WHERE PracticanteID = @PracticanteID;

            -- Eliminar mensajes ligados a las solicitudes
            DELETE m
            FROM Mensajes m
            INNER JOIN @SolicitudIDs s ON m.SolicitudID = s.SolicitudID;

            -- Eliminar documentos ligados a las solicitudes
            DELETE ds
            FROM DocumentoSolicitud ds
            INNER JOIN @SolicitudIDs s ON ds.SolicitudID = s.SolicitudID;

            -- Eliminar solicitudes del practicante
            DELETE FROM SolicitudPracticas WHERE PracticanteID = @PracticanteID;

            -- Eliminar asistencias del practicante
            DELETE FROM Asistencia WHERE PracticanteID = @PracticanteID;

            -- Finalmente eliminar el practicante
            DELETE FROM Practicante WHERE PracticanteID = @PracticanteID;

        COMMIT TRANSACTION;

        SELECT 'Practicante y todos sus datos relacionados fueron eliminados correctamente. IDENTITY ajustado.' AS Mensaje;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();

        -- Error de clave foránea
        IF (@Err LIKE '%REFERENCE constraint%')
        BEGIN
            RAISERROR('No se puede eliminar el practicante porque tiene información relacionada.', 16, 1);
            RETURN;
        END;

        -- Error genérico
        RAISERROR('Ocurrió un error al eliminar el practicante.', 16, 1);
    END CATCH;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarTurnoPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarTurnoPracticante]
    @PracticanteTurnoID INT
AS
BEGIN
    UPDATE PracticanteTurno 
    SET Activo = 0, FechaFin = GETDATE()
    WHERE PracticanteTurnoID = @PracticanteTurnoID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EnviarSolicitudArea]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EnviarSolicitudArea]
    @SolicitudID INT,
    @RemitenteAreaID INT,
    @DestinatarioAreaID INT,
    @Contenido NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Insertar mensaje
    INSERT INTO Mensajes (
        SolicitudID, 
        RemitenteAreaID, 
        DestinatarioAreaID, 
        Contenido, 
        TipoMensaje
    )
    VALUES (
        @SolicitudID, 
        @RemitenteAreaID, 
        @DestinatarioAreaID, 
        @Contenido, 
        'solicitud'
    );

    DECLARE @NuevoMensajeID INT = SCOPE_IDENTITY();

    -- 2. Estado REV para la solicitud
    DECLARE @EstadoRevisionID INT;
    SELECT TOP 1 @EstadoRevisionID = EstadoID
    FROM Estado
    WHERE Abreviatura = 'REV'
      AND EntidadAplicable = 'SolicitudPracticas';

    -- 3. Actualizar solicitud
    UPDATE SolicitudPracticas
    SET AreaID = @DestinatarioAreaID,
        EstadoID = @EstadoRevisionID,
        FechaSolicitud = GETDATE()
    WHERE SolicitudID = @SolicitudID;

    -- 4. Estado PEN para el practicante
    DECLARE @EstadoPendientePracticanteID INT;
    SELECT TOP 1 @EstadoPendientePracticanteID = EstadoID
    FROM Estado
    WHERE Abreviatura = 'PEN'
      AND EntidadAplicable = 'Practicante';

    -- 5. Actualizar practicante asociado a la solicitud
    UPDATE p
    SET p.EstadoID = @EstadoPendientePracticanteID
    FROM Practicante p
    INNER JOIN SolicitudPracticas s 
        ON p.PracticanteID = s.PracticanteID
    WHERE s.SolicitudID = @SolicitudID;

    -- 6. Retornar ID del mensaje
    SELECT @NuevoMensajeID AS MensajeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FiltrarPracticantes]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FiltrarPracticantes]
    @Nombre VARCHAR(100) = NULL,
    @AreaID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        /* =========================================================
           LISTAR PRACTICANTES BASADO EN SU SOLICITUD MÁS RECIENTE
           ========================================================= */

        SELECT 
            p.PracticanteID,
            p.DNI,
            p.Nombres,
            p.ApellidoPaterno,
            p.ApellidoMaterno,
            CONCAT(
                p.Nombres, ' ',
                p.ApellidoPaterno, ' ',
                p.ApellidoMaterno
            ) AS NombreCompleto,
            p.Carrera,
            p.Universidad,
            p.Direccion,
            p.FechaRegistro,
            p.FechaEntrada,
            p.FechaSalida,
            p.Email,
            p.Telefono,
            p.EstadoID,
            e.Descripcion AS EstadoDescripcion,

            -- 🔑 Datos de la ÚLTIMA solicitud
            us.SolicitudID,
            us.AreaID,
            ISNULL(us.NombreArea, 'Sin área') AS NombreArea,
            us.EstadoSolicitud

        FROM Practicante p
        LEFT JOIN Estado e 
            ON p.EstadoID = e.EstadoID

        OUTER APPLY (
            SELECT TOP 1
                sp.SolicitudID,
                sp.AreaID,
                ar.NombreArea,
                est.Descripcion AS EstadoSolicitud,
                sp.FechaSolicitud
            FROM SolicitudPracticas sp
            LEFT JOIN Area ar 
                ON sp.AreaID = ar.AreaID
            INNER JOIN Estado est 
                ON sp.EstadoID = est.EstadoID
            WHERE sp.PracticanteID = p.PracticanteID
            ORDER BY sp.FechaSolicitud DESC,
                     sp.SolicitudID DESC
        ) us

        WHERE
            -- 🔎 Filtro por nombre
            (
                @Nombre IS NULL
                OR p.Nombres LIKE '%' + @Nombre + '%'
                OR p.ApellidoPaterno LIKE '%' + @Nombre + '%'
                OR p.ApellidoMaterno LIKE '%' + @Nombre + '%'
            )

            -- 🔎 Filtro por área DE LA ÚLTIMA SOLICITUD
            AND (
                @AreaID IS NULL
                OR us.AreaID = @AreaID
            )

        ORDER BY p.PracticanteID ASC;

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(
            'Error al filtrar practicantes: %s',
            16, 1, @Err
        );
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarAsistencias]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarAsistencias]
    @AreaID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaHoy DATE = CAST(GETDATE() AS DATE);

    BEGIN TRY

        SELECT 
            p.PracticanteID,
            CONCAT(
                p.Nombres, ' ',
                p.ApellidoPaterno, ' ',
                p.ApellidoMaterno
            ) AS NombreCompleto,

            a.AsistenciaID,
            a.Fecha,
            a.HoraEntrada,
            a.HoraSalida,
            a.TurnoID,
            t.Descripcion AS Turno,

            -- Estado de asistencia
            CASE 
                WHEN a.AsistenciaID IS NULL THEN 'Sin registro'
                WHEN a.HoraEntrada IS NULL THEN 'Ausente'
                WHEN a.HoraSalida IS NULL THEN 'En curso'
                ELSE 'Presente'
            END AS EstadoAsistencia,

            -- Tiempo total de pausas (segundos)
            ISNULL(SUM(
                DATEDIFF(
                    SECOND,
                    pa.HoraInicio,
                    ISNULL(pa.HoraFin, CONVERT(TIME, GETDATE()))
                )
            ), 0) AS TiempoTotalPausas,

            -- Pausas en JSON
            ISNULL((
                SELECT 
                    pa2.PausaID,
                    CONVERT(VARCHAR(8), pa2.HoraInicio, 108) AS HoraInicio,
                    CONVERT(VARCHAR(8), pa2.HoraFin, 108) AS HoraFin,
                    pa2.Motivo
                FROM Pausa pa2
                WHERE pa2.AsistenciaID = a.AsistenciaID
                ORDER BY pa2.HoraInicio
                FOR JSON PATH
            ), '[]') AS PausasJSON,

            -- Estado del practicante
            e.Descripcion AS EstadoPracticante,

            -- Área y cargo
            ar.NombreArea AS Area,
            c.NombreCargo AS Cargo

        FROM Practicante p
        INNER JOIN Estado e 
            ON p.EstadoID = e.EstadoID
           AND e.Abreviatura = 'VIG' -- practicantes vigentes

        /* =========================================================
           🔑 ÚLTIMA SOLICITUD APROBADA DEL PRACTICANTE
           ========================================================= */
        OUTER APPLY (
            SELECT TOP 1
                sp.SolicitudID,
                sp.AreaID
            FROM SolicitudPracticas sp
            INNER JOIN Estado est 
                ON sp.EstadoID = est.EstadoID
            WHERE sp.PracticanteID = p.PracticanteID
              AND est.Abreviatura = 'APR'
            ORDER BY sp.FechaSolicitud DESC,
                     sp.SolicitudID DESC
        ) ultAPR

        INNER JOIN Area ar 
            ON ar.AreaID = ultAPR.AreaID
           AND ar.AreaID = @AreaID

        -- Usuario responsable del área
        LEFT JOIN Usuario u 
            ON u.AreaID = ar.AreaID
           AND u.EstadoID = e.EstadoID

        LEFT JOIN Cargo c 
            ON u.CargoID = c.CargoID

        -- Asistencia del día
        LEFT JOIN Asistencia a 
            ON p.PracticanteID = a.PracticanteID
           AND a.Fecha = @FechaHoy

        LEFT JOIN Turno t 
            ON a.TurnoID = t.TurnoID

        LEFT JOIN Pausa pa 
            ON a.AsistenciaID = pa.AsistenciaID

        GROUP BY 
            p.PracticanteID,
            p.Nombres,
            p.ApellidoPaterno,
            p.ApellidoMaterno,
            a.AsistenciaID,
            a.Fecha,
            a.HoraEntrada,
            a.HoraSalida,
            a.TurnoID,
            t.Descripcion,
            e.Descripcion,
            ar.NombreArea,
            c.NombreCargo

        ORDER BY 
            p.Nombres,
            p.ApellidoPaterno,
            p.ApellidoMaterno;

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(
            'Error al listar asistencias: %s',
            16, 1, @Err
        );
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarAsistenciasPorArea]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarAsistenciasPorArea]
    @AreaID INT,
    @Fecha DATE
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT 
            p.PracticanteID,
            CONCAT(
                p.Nombres, ' ',
                p.ApellidoPaterno, ' ',
                p.ApellidoMaterno
            ) AS NombreCompleto,

            a.AsistenciaID,
            a.Fecha,
            a.HoraEntrada,
            a.HoraSalida,
            a.TurnoID,
            t.Descripcion AS Turno,

            CASE 
                WHEN a.AsistenciaID IS NULL THEN 'Sin registro'
                WHEN a.HoraEntrada IS NULL THEN 'Ausente'
                WHEN a.HoraSalida IS NULL THEN 'En curso'
                ELSE 'Presente'
            END AS Estado

        FROM Practicante p

        INNER JOIN Estado eP
            ON p.EstadoID = eP.EstadoID
           AND eP.Abreviatura = 'VIG'

        /* =========================================================
           🔑 ÚLTIMA SOLICITUD APROBADA DEL PRACTICANTE
           ========================================================= */
        OUTER APPLY (
            SELECT TOP 1
                sp.SolicitudID,
                sp.AreaID
            FROM SolicitudPracticas sp
            INNER JOIN Estado eS
                ON sp.EstadoID = eS.EstadoID
            WHERE sp.PracticanteID = p.PracticanteID
              AND eS.Abreviatura = 'APR'
            ORDER BY sp.FechaSolicitud DESC,
                     sp.SolicitudID DESC
        ) ultAPR

        INNER JOIN Area ar
            ON ar.AreaID = ultAPR.AreaID
           AND ar.AreaID = @AreaID

        LEFT JOIN Asistencia a
            ON p.PracticanteID = a.PracticanteID
           AND a.Fecha = @Fecha

        LEFT JOIN Turno t
            ON a.TurnoID = t.TurnoID

        ORDER BY
            p.Nombres,
            p.ApellidoPaterno,
            p.ApellidoMaterno;

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(
            'Error al listar asistencias por área: %s',
            16, 1, @Err
        );
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMensajesPorArea]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarMensajesPorArea]
    @AreaID INT
AS
BEGIN
    SELECT 
        m.*, 
        p.Nombres + ' ' + p.ApellidoPaterno + ' ' + p.ApellidoMaterno AS NombrePracticante,
        aRem.NombreArea AS AreaRemitente,
        aDest.NombreArea AS AreaDestino,
        e.Descripcion AS EstadoSolicitud -- ✅ Nombre del estado
    FROM Mensajes m
    INNER JOIN SolicitudPracticas sp ON m.SolicitudID = sp.SolicitudID
    INNER JOIN Practicante p ON sp.PracticanteID = p.PracticanteID
    INNER JOIN Area aRem ON m.RemitenteAreaID = aRem.AreaID
    INNER JOIN Area aDest ON m.DestinatarioAreaID = aDest.AreaID
    INNER JOIN Estado e ON sp.EstadoID = e.EstadoID -- ✅ Unión con la tabla Estado
    WHERE 
        m.DestinatarioAreaID = @AreaID 
        OR m.RemitenteAreaID = @AreaID
    ORDER BY 
        m.FechaEnvio DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarNombresPracticantes]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarNombresPracticantes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CAST(PracticanteID AS INT) AS PracticanteID,
        CONCAT(
            CAST(Nombres AS NVARCHAR(100)), ' ',
            CAST(ApellidoPaterno AS NVARCHAR(100)), ' ',
            CAST(ApellidoMaterno AS NVARCHAR(100))
        ) AS NombreCompleto
    FROM Practicante;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPracticantes]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ListarPracticantes]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT 
            p.PracticanteID,
            p.DNI,
            CONCAT(
                p.Nombres, ' ',
                p.ApellidoPaterno, ' ',
                p.ApellidoMaterno
            ) AS NombreCompleto,
            p.Carrera,
            p.Universidad,
            p.Direccion,
            p.FechaRegistro,
            p.FechaEntrada,
            p.FechaSalida,
            p.Email,
            p.Telefono,

            -- Área de la última solicitud (informativo)
            ISNULL(sa.NombreArea, 'Sin área') AS Area,

            -- Estado ACTUAL del practicante (sin recalcular)
            ISNULL(e.Descripcion, '-') AS Estado

        FROM Practicante p

        LEFT JOIN Estado e 
            ON p.EstadoID = e.EstadoID

        OUTER APPLY (
            SELECT TOP 1
                ar.NombreArea
            FROM SolicitudPracticas sp
            INNER JOIN Area ar 
                ON sp.AreaID = ar.AreaID
            WHERE sp.PracticanteID = p.PracticanteID
            ORDER BY 
                sp.FechaSolicitud DESC,
                sp.SolicitudID DESC
        ) sa

        ORDER BY p.PracticanteID ASC;

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(
            'Error al listar practicantes: %s',
            16, 1, @Err
        );
    END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ListarTurnos]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarTurnos]
AS
BEGIN
    SELECT TurnoID, Descripcion, HoraInicio, HoraFin,
           CONVERT(VARCHAR(5), HoraInicio, 108) + ' - ' + CONVERT(VARCHAR(5), HoraFin, 108) AS RangoHorario
    FROM Turno
    ORDER BY HoraInicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUsuario]
    @NombreUsuario VARCHAR(50),
    @Password VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

        -- Validar si el usuario existe
        IF NOT EXISTS (SELECT 1 FROM Usuario WHERE NombreUsuario = @NombreUsuario)
        BEGIN
            RAISERROR('Usuario o contraseña incorrectos.', 16, 1);
            RETURN;
        END;

        -- Validar si está activo
        IF EXISTS (
            SELECT 1 FROM Usuario 
            WHERE NombreUsuario = @NombreUsuario 
              AND Activo = 0
        )
        BEGIN
            RAISERROR('El usuario está inactivo. Contacte al administrador.', 16, 1);
            RETURN;
        END;

        -- Validar credenciales correctas
        SELECT 
            U.UsuarioID,
            U.NombreUsuario,
            U.Nombres,
            U.ApellidoPaterno,
            U.ApellidoMaterno,
            U.CargoID,
            C.NombreCargo,
            U.AreaID,
            A.NombreArea,
            U.EstadoID,
            U.Activo,
            U.FechaRegistro
        FROM Usuario U
        LEFT JOIN Cargo C ON U.CargoID = C.CargoID
        LEFT JOIN Area A ON U.AreaID = A.AreaID
        WHERE U.NombreUsuario = @NombreUsuario
          AND U.Password = @Password
          AND U.Activo = 1;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('Usuario o contraseña incorrectos.', 16, 1);
        END;

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error en autenticación: %s', 16, 1, @Err);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerActividadReciente]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerActividadReciente]
    @Limite INT = 10,
    @AreaID INT = NULL,
    @UsuarioID INT = NULL,
    @CargoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Caso 1: Gerente RRHH (CargoID = 1)
    -- Ve TODAS las actividades de TODAS las áreas EXCEPTO las de Usuario
    IF @CargoID = 1
    BEGIN
        SELECT TOP (@Limite)
            ActividadID,
            TipoActividad,
            TablaAfectada,
            Descripcion,
            UsuarioAfectado,
            RegistroID,
            FechaHora,
            Icono,
            UsuarioCreadorID,
            DATEDIFF(MINUTE, FechaHora, GETDATE()) AS MinutosTranscurridos
        FROM ActividadReciente
        WHERE TablaAfectada != 'Usuario'  -- Excluir actividades de Usuario
        ORDER BY FechaHora DESC;
    END
    
    -- Caso 2: Gerente de Sistemas (CargoID = 4)
    -- Ve actividades de su área (incluyendo las de Usuario)
    ELSE IF @CargoID = 4
    BEGIN
        SELECT TOP (@Limite)
            ar.ActividadID,
            ar.TipoActividad,
            ar.TablaAfectada,
            ar.Descripcion,
            ar.UsuarioAfectado,
            ar.RegistroID,
            ar.FechaHora,
            ar.Icono,
            ar.UsuarioCreadorID,
            DATEDIFF(MINUTE, ar.FechaHora, GETDATE()) AS MinutosTranscurridos
        FROM ActividadReciente ar
        WHERE 
            -- Actividades de Usuario (todas, sin filtro de área)
            (ar.TablaAfectada = 'Usuario')
            OR
            -- Actividades de Practicantes del área
            (ar.TablaAfectada = 'Practicante' 
                AND EXISTS (
                    SELECT 1 FROM SolicitudPracticas sp 
                    WHERE sp.PracticanteID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
            OR
            -- Actividades de Solicitudes del área
            (ar.TablaAfectada = 'SolicitudPracticas' 
                AND EXISTS (
                    SELECT 1 FROM SolicitudPracticas sp 
                    WHERE sp.SolicitudID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
            OR
            -- Actividades de Asistencias de practicantes del área
            (ar.TablaAfectada = 'Asistencia' 
                AND EXISTS (
                    SELECT 1 FROM Asistencia a
                    INNER JOIN Practicante p ON a.PracticanteID = p.PracticanteID
                    INNER JOIN SolicitudPracticas sp ON p.PracticanteID = sp.PracticanteID
                    WHERE a.AsistenciaID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
            OR
            -- Actividades de Documentos relacionados al área
            (ar.TablaAfectada = 'DocumentoSolicitud' 
                AND EXISTS (
                    SELECT 1 FROM DocumentoSolicitud ds
                    INNER JOIN SolicitudPracticas sp ON ds.SolicitudID = sp.SolicitudID
                    WHERE ds.DocumentoID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
        ORDER BY ar.FechaHora DESC;
    END
    
    -- Caso 3: Gerente de Área (CargoID = 2)
    -- Ve actividades de su área (sin Usuario)
    ELSE IF @CargoID = 2
    BEGIN
        SELECT TOP (@Limite)
            ar.ActividadID,
            ar.TipoActividad,
            ar.TablaAfectada,
            ar.Descripcion,
            ar.UsuarioAfectado,
            ar.RegistroID,
            ar.FechaHora,
            ar.Icono,
            ar.UsuarioCreadorID,
            DATEDIFF(MINUTE, ar.FechaHora, GETDATE()) AS MinutosTranscurridos
        FROM ActividadReciente ar
        WHERE 
            ar.TablaAfectada != 'Usuario'  -- No ver actividades de Usuario
            AND
            (
                -- Actividades de Practicantes del área
                (ar.TablaAfectada = 'Practicante' 
                    AND EXISTS (
                        SELECT 1 FROM SolicitudPracticas sp 
                        WHERE sp.PracticanteID = ar.RegistroID 
                        AND sp.AreaID = @AreaID
                    )
                )
                OR
                -- Actividades de Solicitudes del área
                (ar.TablaAfectada = 'SolicitudPracticas' 
                    AND EXISTS (
                        SELECT 1 FROM SolicitudPracticas sp 
                        WHERE sp.SolicitudID = ar.RegistroID 
                        AND sp.AreaID = @AreaID
                    )
                )
                OR
                -- Actividades de Asistencias de practicantes del área
                (ar.TablaAfectada = 'Asistencia' 
                    AND EXISTS (
                        SELECT 1 FROM Asistencia a
                        INNER JOIN Practicante p ON a.PracticanteID = p.PracticanteID
                        INNER JOIN SolicitudPracticas sp ON p.PracticanteID = sp.PracticanteID
                        WHERE a.AsistenciaID = ar.RegistroID 
                        AND sp.AreaID = @AreaID
                    )
                )
                OR
                -- Actividades de Documentos relacionados al área
                (ar.TablaAfectada = 'DocumentoSolicitud' 
                    AND EXISTS (
                        SELECT 1 FROM DocumentoSolicitud ds
                        INNER JOIN SolicitudPracticas sp ON ds.SolicitudID = sp.SolicitudID
                        WHERE ds.DocumentoID = ar.RegistroID 
                        AND sp.AreaID = @AreaID
                    )
                )
            )
        ORDER BY ar.FechaHora DESC;
    END
    
    -- Caso 4: Usuario de Área (CargoID = 3)
    -- Ve SOLO sus propias actividades (sin Usuario)
    ELSE IF @CargoID = 3
    BEGIN
        SELECT TOP (@Limite)
            ActividadID,
            TipoActividad,
            TablaAfectada,
            Descripcion,
            UsuarioAfectado,
            RegistroID,
            FechaHora,
            Icono,
            UsuarioCreadorID,
            DATEDIFF(MINUTE, FechaHora, GETDATE()) AS MinutosTranscurridos
        FROM ActividadReciente
        WHERE 
            UsuarioCreadorID = @UsuarioID  -- Solo sus actividades
            AND TablaAfectada != 'Usuario'  -- No ver actividades de Usuario
        ORDER BY FechaHora DESC;
    END
    
    -- Caso por defecto: sin actividades
    ELSE
    BEGIN
        SELECT TOP (@Limite)
            ActividadID,
            TipoActividad,
            TablaAfectada,
            Descripcion,
            UsuarioAfectado,
            RegistroID,
            FechaHora,
            Icono,
            UsuarioCreadorID,
            DATEDIFF(MINUTE, FechaHora, GETDATE()) AS MinutosTranscurridos
        FROM ActividadReciente
        WHERE 1 = 0;  -- No devuelve nada
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDocumentoPorTipoYPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerDocumentoPorTipoYPracticante]
    @PracticanteID INT,
    @TipoDocumento NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 
        d.DocumentoID,
        d.Archivo,
        d.Observaciones,
        d.TipoDocumento,
        d.FechaSubida
    FROM DocumentoSolicitud AS d
    INNER JOIN SolicitudPracticas AS s 
        ON d.SolicitudID = s.SolicitudID
    WHERE 
        s.PracticanteID = @PracticanteID
        AND d.TipoDocumento = @TipoDocumento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDocumentosPorPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerDocumentosPorPracticante]
    @PracticanteID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        d.DocumentoID,
        d.SolicitudID,
        d.TipoDocumento,
        d.Observaciones,
        d.FechaSubida,
        d.Archivo,
        ISNULL(a.NombreArea, '-') AS Area
    FROM DocumentoSolicitud d
    INNER JOIN SolicitudPracticas s ON d.SolicitudID = s.SolicitudID
    INNER JOIN Practicante p ON s.PracticanteID = p.PracticanteID
    LEFT JOIN Area a ON s.AreaID = a.AreaID -- 🔁 cambiado a LEFT JOIN
    WHERE p.PracticanteID = @PracticanteID
        
    ORDER BY d.FechaSubida DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPracticantePorID]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPracticantePorID]
    @PracticanteID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        p.PracticanteID,
        p.DNI,
        p.Nombres,
        p.ApellidoPaterno,
        p.ApellidoMaterno,
        p.Genero,
        CONCAT(p.Nombres, ' ', p.ApellidoPaterno, ' ', p.ApellidoMaterno) AS NombreCompleto,
        p.Carrera,
        p.Universidad,
        ISNULL(e.Descripcion, '-') AS Estado,
        CONVERT(VARCHAR(10), p.FechaEntrada, 103) AS FechaEntrada,
        CONVERT(VARCHAR(10), p.FechaSalida, 103) AS FechaSalida,
        FORMAT(p.FechaRegistro, 'dd/MM/yyyy HH:mm:ss') AS FechaRegistro,
        p.Email,
        p.Telefono,
        p.Direccion,
        sp.SolicitudID,
        ISNULL(a.NombreArea, '-') AS Area,
        CONVERT(VARCHAR(10), sp.FechaSolicitud, 103) AS FechaSolicitud
    FROM Practicante p
    LEFT JOIN Estado e ON p.EstadoID = e.EstadoID
    LEFT JOIN SolicitudPracticas sp ON sp.PracticanteID = p.PracticanteID
    LEFT JOIN Area a ON sp.AreaID = a.AreaID
    WHERE p.PracticanteID = @PracticanteID
    ORDER BY sp.SolicitudID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerTurnosPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerTurnosPracticante]
    @PracticanteID INT
AS
BEGIN
    SELECT 
        pt.PracticanteTurnoID,
        pt.PracticanteID,
        pt.TurnoID,
        t.Descripcion AS TurnoDescripcion,
        t.HoraInicio,
        t.HoraFin,
        pt.DiasAplicables,
        pt.FechaInicio,
        pt.FechaFin,
        pt.Activo,
        CONVERT(VARCHAR(5), t.HoraInicio, 108) + ' - ' + CONVERT(VARCHAR(5), t.HoraFin, 108) AS RangoHorario
    FROM PracticanteTurno pt
    INNER JOIN Turno t ON pt.TurnoID = t.TurnoID
    WHERE pt.PracticanteID = @PracticanteID
    AND pt.Activo = 1
    ORDER BY t.HoraInicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RechazarPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RechazarPracticante]
    @PracticanteID INT,
    @SolicitudID INT,
    @MensajeRespuesta NVARCHAR(500)
AS
BEGIN
    UPDATE Practicante 
    SET EstadoID = (SELECT EstadoID FROM Estado WHERE Abreviatura = 'REC')
    WHERE PracticanteID = @PracticanteID;
    
    UPDATE SolicitudPracticas
    SET EstadoID = (SELECT EstadoID FROM Estado WHERE Abreviatura = 'NEG')
    WHERE SolicitudID = @SolicitudID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPracticante]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarPracticante]
    @DNI CHAR(8),
    @Nombres VARCHAR(50),
    @ApellidoPaterno VARCHAR(50),
    @ApellidoMaterno VARCHAR(50),
    @Genero CHAR(1),
    @Carrera VARCHAR(100),
    @Email VARCHAR(100),
    @Telefono VARCHAR(20),
    @Direccion VARCHAR(100),
    @Universidad VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Validación: DNI no debe existir
        IF EXISTS (SELECT 1 FROM Practicante WHERE DNI = @DNI)
            THROW 50001, 'El DNI ya está registrado en otro practicante.', 1;


        -- Insertar practicante
        INSERT INTO Practicante (
            DNI, Nombres, ApellidoPaterno, ApellidoMaterno, Genero,
            Carrera, Email, Telefono, Direccion, Universidad, EstadoID
        )
        VALUES (
            @DNI, @Nombres, @ApellidoPaterno, @ApellidoMaterno, @Genero,
            @Carrera, @Email, @Telefono, @Direccion, @Universidad, 6
        );

        DECLARE @NuevoPracticanteID INT = SCOPE_IDENTITY();

        SELECT @NuevoPracticanteID AS PracticanteID;

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error al crear practicante: %s', 16, 1, @Err);
        RETURN 1;
    END CATCH;

    RETURN 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @NombreUsuario     VARCHAR(50),
    @Nombres           VARCHAR(50),
    @ApellidoPaterno   VARCHAR(50),
    @ApellidoMaterno   VARCHAR(50),
    @Password          VARCHAR(100),
    @DNI               CHAR(8),
    @CUI               TINYINT = NULL,
    @CargoID           INT = NULL,
    @AreaID            INT = NULL,
    @EstadoID          INT = NULL,
    @Activo            BIT = 1,
    @FechaRegistro     DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SET @FechaRegistro = ISNULL(@FechaRegistro, GETDATE());

        -- Validación: nombre de usuario existente
        IF EXISTS (SELECT 1 FROM Usuario WHERE NombreUsuario = @NombreUsuario)
        BEGIN
            RAISERROR('El nombre de usuario ya existe.', 16, 1);
            RETURN;
        END;

        -- Validación: DNI no debe existir
        IF EXISTS (SELECT 1 FROM Usuario WHERE DNI = @DNI)
        BEGIN
            RAISERROR('El DNI ya está registrado en otro usuario.', 16, 1);
            RETURN;
        END;

        -- Insertar usuario
        INSERT INTO Usuario (
            NombreUsuario,
            Nombres,
            ApellidoPaterno,
            ApellidoMaterno,
            Password,
            DNI,
            CUI,
            CargoID,
            AreaID,
            EstadoID,
            Activo,
            FechaRegistro
        )
        VALUES (
            @NombreUsuario,
            @Nombres,
            @ApellidoPaterno,
            @ApellidoMaterno,
            @Password,
            @DNI,
            @CUI,
            @CargoID,
            @AreaID,
            ISNULL(@EstadoID, 1),
            @Activo,
            @FechaRegistro
        );

        SELECT SCOPE_IDENTITY() AS UsuarioID,
               'Usuario registrado correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error al registrar usuario: %s', 16, 1, @Err);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ResponderSolicitud]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ResponderSolicitud]
    @MensajeID INT,
    @Respuesta VARCHAR(20),
    @Contenido NVARCHAR(500)
AS
BEGIN
    UPDATE Mensajes 
    SET RespuestaEstado = @Respuesta, 
        Leido = 1 
    WHERE MensajeID = @MensajeID;
    
    -- Insertar mensaje de respuesta
    DECLARE @SolicitudID INT, @RemArea INT, @DestArea INT;
    SELECT @SolicitudID = SolicitudID, @RemArea = DestinatarioAreaID, @DestArea = RemitenteAreaID
    FROM Mensajes WHERE MensajeID = @MensajeID;
    
    INSERT INTO Mensajes (SolicitudID, RemitenteAreaID, DestinatarioAreaID, Contenido, TipoMensaje, RespuestaEstado)
    VALUES (@SolicitudID, @RemArea, @DestArea, @Contenido, 'respuesta', @Respuesta);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SetCurrentUser]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para establecer el usuario actual en el contexto de la sesión
CREATE   PROCEDURE [dbo].[sp_SetCurrentUser]
    @UsuarioID INT
AS
BEGIN
    -- Usar CONTEXT_INFO para almacenar el ID del usuario en la sesión
    DECLARE @BinVar VARBINARY(128);
    SET @BinVar = CAST(@UsuarioID AS VARBINARY(128));
    SET CONTEXT_INFO @BinVar;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SubirDocumento]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SubirDocumento]
    @SolicitudID INT,
    @TipoDocumento NVARCHAR(50),
    @Archivo VARBINARY(MAX),
    @Observaciones NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO DocumentoSolicitud (SolicitudID, TipoDocumento, Archivo, Observaciones, FechaSubida)
    VALUES (@SolicitudID, @TipoDocumento, @Archivo, @Observaciones, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarCUI]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidarCUI]
    @UsuarioID INT,
    @CUI TINYINT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            u.UsuarioID,
            u.NombreUsuario,
            u.Nombres,
            u.ApellidoPaterno,
            u.ApellidoMaterno,
            u.CargoID,
            u.AreaID,
            u.EstadoID,
            c.NombreCargo,
            a.NombreArea
        FROM Usuario u
        INNER JOIN Cargo c ON u.CargoID = c.CargoID
        INNER JOIN Area a ON u.AreaID = a.AreaID
        WHERE UsuarioID = @UsuarioID AND CUI = @CUI;

        IF @@ROWCOUNT = 0
            RAISERROR('CUI incorrecto o no asociado a este usuario.', 16, 1);
    END TRY
    BEGIN CATCH
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error al validar CUI: %s', 16, 1, @Err);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarDocumentosCompletos]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerificarDocumentosCompletos]
    @PracticanteID INT
AS
BEGIN
    DECLARE @SolicitudID INT;
    
    SELECT TOP 1 @SolicitudID = SolicitudID 
    FROM SolicitudPracticas 
    WHERE PracticanteID = @PracticanteID 
    ORDER BY FechaSolicitud DESC;
    
    SELECT 
        CASE 
            WHEN COUNT(DISTINCT TipoDocumento) >= 4 THEN 1
            ELSE 0
        END AS DocumentosCompletos
    FROM DocumentoSolicitud
    WHERE SolicitudID = @SolicitudID
    AND TipoDocumento IN ('cv', 'carnet_vacunacion', 'carta_presentacion', 'dni');
END;
GO
/****** Object:  StoredProcedure [dbo].[spObtenerActividadReciente]    Script Date: 9/01/2026 11:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spObtenerActividadReciente]
    @Limite INT = 10,
    @AreaID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @AreaID IS NOT NULL
    BEGIN
        -- Filtrar actividades relacionadas al área específica
        SELECT TOP (@Limite)
            ar.ActividadID,
            ar.TipoActividad,
            ar.TablaAfectada,
            ar.Descripcion,
            ar.UsuarioAfectado,
            ar.RegistroID,
            ar.FechaHora,
            ar.Icono,
            DATEDIFF(MINUTE, ar.FechaHora, GETDATE()) AS MinutosTranscurridos
        FROM ActividadReciente ar
        WHERE 
            -- Actividades de Practicantes del área
            (ar.TablaAfectada = 'Practicante' 
                AND EXISTS (
                    SELECT 1 FROM SolicitudPracticas sp 
                    WHERE sp.PracticanteID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
            OR
            -- Actividades de Solicitudes del área
            (ar.TablaAfectada = 'SolicitudPracticas' 
                AND EXISTS (
                    SELECT 1 FROM SolicitudPracticas sp 
                    WHERE sp.SolicitudID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
            OR
            -- Actividades de Asistencias de practicantes del área
            (ar.TablaAfectada = 'Asistencia' 
                AND EXISTS (
                    SELECT 1 FROM Asistencia a
                    INNER JOIN Practicante p ON a.PracticanteID = p.PracticanteID
                    INNER JOIN SolicitudPracticas sp ON p.PracticanteID = sp.PracticanteID
                    WHERE a.AsistenciaID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
            OR
            -- Actividades de Documentos relacionados al área
            (ar.TablaAfectada = 'DocumentoSolicitud' 
                AND EXISTS (
                    SELECT 1 FROM DocumentoSolicitud ds
                    INNER JOIN SolicitudPracticas sp ON ds.SolicitudID = sp.SolicitudID
                    WHERE ds.DocumentoID = ar.RegistroID 
                    AND sp.AreaID = @AreaID
                )
            )
            OR
            -- Actividades de Usuarios del área
            (ar.TablaAfectada = 'Usuario' 
                AND EXISTS (
                    SELECT 1 FROM Usuario u 
                    WHERE u.UsuarioID = ar.RegistroID 
                    AND u.AreaID = @AreaID
                )
            )
        ORDER BY ar.FechaHora DESC;
    END
    
END;
GO
USE [master]
GO
